body {
  background-image: url('./assets/images/nairobi.jpg');
  background-repeat: repeat-y; /* Repeat vertically */
  background-size: cover; /* Ensures the width is covered */
  background-attachment: fixed;
  background-position: center top; /* Positions the background image at the top center */
  opacity: 0.8;
  margin: 0;
  padding: 0;
}
